body {
    background-color: rgb(1, 0, 85);
    color: white;
}

h1 {
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    margin: 0;
}


.bar {
    background-color: aqua;
    width: 3px;
    display: inline-block;
}

.bar:hover {
    fill: rgb(1, 0, 85);
}

svg {
    margin: 0 auto;
    display: block;
    /* background-color: white; */
}


#tooltip {
    position: absolute;
    visibility: hidden;
    background: rgb(255, 255, 255);
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px black;
    border-radius: 5px;
    color: black; 
    pointer-events: none; /* Prevent tooltip from interfering with mouse events */
  }