body {
    background-color: rgb(44, 42, 122);
    color: white;
}

h1 {
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 5px;
    margin-top: 0;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}


.bar {
    background-color: aqua;
    width: 3px;
    display: inline-block;
}

.bar:hover {
    fill: rgb(1, 0, 85);
}

svg {
    margin: 0 auto;
    display: block;
    /* background-color: white; */
}


#tooltip {
    width: 115px;
    position: absolute;
    visibility: hidden;
    background: rgba(255, 255, 255, 0.808);
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 0px black;
    border-radius: 5px;
    color: black; 
    pointer-events: none; /* Prevent tooltip from interfering with mouse events */
  }

  #container {
    width: 1000px;
    height: 550px; 
    background-color: rgb(2, 0, 102);
    margin: 0 auto;
    box-shadow: 7px 7px 10px black;
  }